P(at least one significant result) = 1 − P(no significant results)

P(at least one significant result) $= 1 − (1 − 0.05)^{20}$

$≈ 0.64$

$\alpha_{bon} = \alpha / m$

In [1]:
a = [0.01,0.067, 0.003, 0.001, 0.5, 0.33, 0.02, 0.0134, 0.044, 0.025 ]

In [3]:
a.sort()

In [4]:
a

[0.001, 0.003, 0.01, 0.0134, 0.02, 0.025, 0.044, 0.067, 0.33, 0.5]

$P_k < \frac{\alpha}{m+1-k}$

$P_3 < \frac{0.05}{10+1–3}$

$P_3 < \frac{0.05}{8}$

$P_3 < 0.00625$

In [15]:
0.15/10

0.015

$P_k < \frac{k}{m}\alpha$

$P_1 < \frac{1}{10}0.05$

$P_1 < \frac{0.05}{10}$

$P_1 < 0.005$

$P_2 < \frac{2}{10}0.05$

$P_2 < \frac{0.1}{10}$

$P_2 < 0.01$

$P_3 < \frac{3}{10}0.05$

$P_3 < \frac{0.15}{10}$

$P_3 < 0.015$

In [18]:
import multipy

In [32]:
from multipy.data import neuhaus
from multipy.fwer import bonferroni, holm_bonferroni
from multipy.fdr import lsu

In [38]:
pvals = neuhaus()
df = pd.DataFrame({'Features': ['Feature {}'.format(i) for i in range(1,len(pvals)+1  )], 'P-value':pvals})

In [39]:
df

      Features  P-value
0    Feature 1   0.0001
1    Feature 2   0.0004
2    Feature 3   0.0019
3    Feature 4   0.0095
4    Feature 5   0.0201
5    Feature 6   0.0278
6    Feature 7   0.0298
7    Feature 8   0.0344
8    Feature 9   0.0459
9   Feature 10   0.3240
10  Feature 11   0.4262
11  Feature 12   0.5719
12  Feature 13   0.6528
13  Feature 14   0.7590
14  Feature 15   1.0000

In [40]:
df['Hypothesis Correction Result'] = bonferroni(pvals, alpha = 0.05)

In [41]:
df

      Features  P-value  Hypothesis Correction Result
0    Feature 1   0.0001                          True
1    Feature 2   0.0004                          True
2    Feature 3   0.0019                          True
3    Feature 4   0.0095                         False
4    Feature 5   0.0201                         False
5    Feature 6   0.0278                         False
6    Feature 7   0.0298                         False
7    Feature 8   0.0344                         False
8    Feature 9   0.0459                         False
9   Feature 10   0.3240                         False
10  Feature 11   0.4262                         False
11  Feature 12   0.5719                         False
12  Feature 13   0.6528                         False
13  Feature 14   0.7590                         False
14  Feature 15   1.0000                         False

In [33]:
df['Hypothesis Correction Result'] = holm_bonferroni(pvals, alpha = 0.05)

In [34]:
df

      Features  P-value  Hypothesis Correction Result
0    Feature 1   0.0001                          True
1    Feature 2   0.0004                          True
2    Feature 3   0.0019                          True
3    Feature 4   0.0095                         False
4    Feature 5   0.0201                         False
5    Feature 6   0.0278                         False
6    Feature 7   0.0298                         False
7    Feature 8   0.0344                         False
8    Feature 9   0.0459                         False
9   Feature 10   0.3240                         False
10  Feature 11   0.4262                         False
11  Feature 12   0.5719                         False
12  Feature 13   0.6528                         False
13  Feature 14   0.7590                         False
14  Feature 15   1.0000                         False

In [36]:
df['Hypothesis Correction Result'] = lsu(pvals, q = 0.05)

In [37]:
df

      Features  P-value  Hypothesis Correction Result
0    Feature 1   0.0001                          True
1    Feature 2   0.0004                          True
2    Feature 3   0.0019                          True
3    Feature 4   0.0095                          True
4    Feature 5   0.0201                         False
5    Feature 6   0.0278                         False
6    Feature 7   0.0298                         False
7    Feature 8   0.0344                         False
8    Feature 9   0.0459                         False
9   Feature 10   0.3240                         False
10  Feature 11   0.4262                         False
11  Feature 12   0.5719                         False
12  Feature 13   0.6528                         False
13  Feature 14   0.7590                         False
14  Feature 15   1.0000                         False

In [1]:
titanic = sns.load_dataset('titanic')

In [2]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
titanic['fare'] = titanic['fare']

In [9]:
first_count = titanic['fare'].apply(lambda x: str(x)[0])

In [11]:
first_count.value_counts()

7    242
1    212
2    153
8     85
3     64
5     43
9     33
6     28
4     16
0     15
Name: fare, dtype: int64